/* resetar configurações de página */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* configurações especificamente da background image usada no header */
header {
    background: url(clothingspill3.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

@media (min-width: 768px) {
    header {
        height: 100vh;
    }
}

/* configurações de navbar */

.navbar {
    position: fixed;
    z-index: 1;
    background-size: 100vw 50vh;
    height: 8vh;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.5s ease-out;
}

.navbar__scroll {
    background-color: #F5F5FD;
    box-shadow: 0 5px 11px 0 rgba(179,196,212,.08);
}

.navbar__ul {
    display: flex;
    color: #D0D1E7;
    text-shadow: 2px 2px #05072F;
    align-items: center;
    list-style: none;
    height: 8vh;
}

.navbar__ul-scroll {
    color: #05072F;
    text-shadow: 2px 2px #D0D1E7;
    transition: 0.5s ease-out;
}

@media (min-width: 768px) {
    .navbar__ul {
        justify-content: space-between;
    }
}

.navbar__li-link {
    text-decoration: none;
    color: #D0D1E7;
    text-shadow: 2px 2px #05072F;
    transition: 0.5s ease-out;
}

.navbar__li-link:hover {
    color: #DC3E4A;
}

.navbar__li-link-scroll {
    color: #05072F;
    text-shadow: 2px 2px #D0D1E7;
    transition: 0.5s ease-out;

}
.navbar__logoimg {
    margin-right: 5px;
    height: 4vh;
}
.navbar__li-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: -4px;
    text-shadow: 2px 2px #05072F;
    color: #D0D1E7;
    font-size: 5vh;
    margin-left: 10px;
    transition: 0.5s ease-out;
}

.navbar__li-logo-scroll {
    color: #05072F;
    text-shadow: 2px 2px #D0D1E7;
}

.navbar__li-menu {
    display: none;
    margin-right: 50px;
}

@media (min-width: 768px) {
    .navbar__li-menu {
      display: flex;
    }
  }

.navbar__li-menu li {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: 5px;
    font-size: 2vh;
}

/* configurações do menu hamburguer da navbar */

.navbar__menu-div {
    opacity: (50%);
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 8vh;
    width: 60px;
    cursor: pointer;
    box-shadow: 0 0 0 0px rgba(254, 250, 241, 0.7);
    transition: box-shadow 0.5s .2s cubic-bezier(0.42, 0.96, 0.57, 1.07);
}

@media (min-width: 768px) {
    .navbar__menu-div {
        display: none;
    }
}

.navbar__menu-div--aberto {
    background: rgba(254, 250, 241, 0.7);
    box-shadow: 0 0 0 400vw rgba(254, 250, 241, 0.7);
    transition: box-shadow 1s cubic-bezier(0.42, 0.96, 0.57, 1.07);

}

.navbar__menu-hamb {
    opacity: 0.8;
    position: relative;
    display: block;
    background: #DC3E4A;
    width: 7vw;
    height: 3px;
    top: 4vh;
    margin: 0 auto;
    transition: .5s ease-in-out;
}

.navbar__menu-hamb:before,
.navbar__menu-hamb:after {
    background: #DC3E4A;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.navbar__menu-hamb:before {
    top: -10px;
}

.navbar__menu-hamb:after {
    bottom: -10px;
}

.navbar__menu-hamb--aberto {
    transform: rotate(45deg);
}

.navbar__menu-hamb--aberto:before {
    transform: rotate(90deg);
    top: 0;
}

.navbar__menu-hamb--aberto:after {
    transform: rotate(90deg);
    bottom: 0;
}

.navbar__menu-opcoes {
    pointer-events: none;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    text-decoration: none;
    list-style: none;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    transition: opacity 1s ease-in-out;
}

.navbar__menu-opcoes--aberto {
    opacity: 1;
    transition-delay: 0;
    pointer-events: all;
    transition: opacity 1s .2s ease-in-out;
}

.navbar__menu-opcoes li {
    z-index: 2;
    text-transform: uppercase;
    text-shadow: 2px 2px #747B8D;

}

.navbar__menu-opcoes a {
    color: #2B3441;
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
    z-index: 1;
}

.navbar__menu-opcoes a:active {
    border-bottom: 4px solid #DC3E4A;
}

/* configurações do h1 de slogan */
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 140px;
}

.header__slogan {
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgba(197, 185, 218, 0.3);
    /* box-shadow: 0 5px 11px 0 rgba(50,50,50,.08); */
    text-shadow: 2px 2px #05072F;
    text-align: center;
    color: #D0D1E7;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 800;
    width: 100vw;
}

@media (min-width: 768px) {
    .header__slogan {
        width: 70vw;
        font-size: 75px;
        bottom: 105px;
    }
}

.btn {
    border-radius: 500px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    min-width: 160px;
    width: 300px;
    line-height: 20px;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-family: inherit;
    font-weight: bolder;
    font-size: .7em;
    color: #E7E7F4;
    text-shadow: 0 2px #05072F;

    background: #DC3E4A;
    box-shadow: 0 5px 11px 0 rgba(50,50,50,.08);

    border: none;
}

.btn__header {
    opacity: 0.9;
}

/* body etc */
body {
    height: 200vh;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #21181D;
}

.roundimg {
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
}
/* configurações das seções */
.sec {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* configurações de cor das seções */
/* SEÇÃO BRANCA */
.sec__mission {
    background: #F5F5FD;
}


.sec__mission-topic p {
    margin: 15px;
}

.sec__mission-topic h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    text-shadow: 2px 2px #A1A4AD;
    margin-top: 10px;
}

.sec__mission-topic h2::first-letter {
    border-bottom: 1px solid;
}

/* SEÇÃO AZUL */
.sec__justif {
    background: #2B3441;
    color: #FEFAF1;
}

.section__justif-topics p {
    margin: 15px;
}

.section__justif-topics h2 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-shadow: 2px 2px #21181D;
    margin-top: 10px;
}

.section__justif-topics h2::first-letter {
    border-bottom: 1px solid;
}

/* CONFIGURAÇÕES DE POSICIONAMENTO DAS SEÇÕES */

@media (min-width: 768px) {
    .section__white,
    .section__blue {
        flex-direction: row;
    }
    
    .section__topico-white h1,
    .section__topico-blue h1 {
        display: block;
    }

    .section__topico-white,
    .section__topico-blue {
        flex-direction: column;
    }
}
