/* resetar configurações de página */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* configurações especificamente da background image usada no header */
.header__home {
    background: url(./componentes/clothingspill3.png) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

@media (min-width: 768px) {
    .header__home {
        min-height: 400px;
    }
}

/* configurações de navbar */

.navbar {
    position: fixed;
    z-index: 1;

    height: 8vh;
    min-height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color 0.5s ease-out;
}

.navbar__scroll {
    position: fixed;
    z-index: 1;
    height: 8vh;
    min-height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #F5F5FD;
    box-shadow: 0 5px 11px 0 rgba(179,196,212,.08);
}

.navbar__ul {
    display: flex;
    color: #D0D1E7;
    text-shadow: 2px 2px #05072F;
    align-items: center;
    list-style: none;
    height: 8vh;
}

.navbar__ul-scroll {
    color: #05072F;
    text-shadow: 2px 2px #D0D1E7;
    transition: 0.5s ease-out;
}

@media (min-width: 768px) {
    .navbar__ul {
        justify-content: space-between;
        min-height: 50px;
    }
    
}

.navbar__li-link {
    text-decoration: none;
    color: #D0D1E7;
    text-shadow: 2px 2px #05072F;
    transition: 0.5s ease-out;
}

.navbar__li-link:hover {
    color: #DC3E4A;
}

.navbar__li-link-scroll {
    color: #05072F;
    text-shadow: 2px 2px #D0D1E7;

}
.navbar__logoimg {
    margin-right: 5px;
    height: 4vh;
}
.navbar__li-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    letter-spacing: -4px;
    text-shadow: 2px 2px #05072F;
    color: #D0D1E7;
    font-size: 5vh;
    margin-left: 10px;
    transition: 0.5s ease-out;
}

@media (min-width: 768px){

    .navbar__logoimg {
        height: 25px;
    }

    .navbar__li-logo {
        font-size: 30px;
    }
}

.navbar__li-logo-scroll {
    color: #05072F;
    text-shadow: 2px 2px #D0D1E7;
}

.navbar__li-menu {
    display: none;
    margin-right: 50px;
}

@media (min-width: 768px) {
    .navbar__li-menu {
      display: flex;
    }
  }

.navbar__li-menu li {
    flex: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: 5px;
    font-size: 16px;
}

/* configurações do menu hamburguer da navbar */

.navbar__menu-div {
    opacity: (50%);
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    height: 8vh;
    width: 60px;
    cursor: pointer;
    box-shadow: 0 0 0 0px rgba(254, 250, 241, 0.7);
    transition: box-shadow 0.5s .2s cubic-bezier(0.42, 0.96, 0.57, 1.07);
}

@media (min-width: 768px) {
    .navbar__menu-div {
        display: none;
    }
}

.navbar__menu-div--aberto {
    background: rgba(254, 250, 241, 0.7);
    box-shadow: 0 0 0 400vw rgba(254, 250, 241, 0.7);
    transition: box-shadow 1s cubic-bezier(0.42, 0.96, 0.57, 1.07);

}

.navbar__menu-hamb {
    opacity: 0.8;
    position: relative;
    display: block;
    background: #DC3E4A;
    width: 7vw;
    height: 3px;
    top: 4vh;
    margin: 0 auto;
    transition: .5s ease-in-out;
}

.navbar__menu-hamb:before,
.navbar__menu-hamb:after {
    background: #DC3E4A;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: .5s ease-in-out;
}

.navbar__menu-hamb:before {
    top: -10px;
}

.navbar__menu-hamb:after {
    bottom: -10px;
}

.navbar__menu-hamb--aberto {
    transform: rotate(45deg);
}

.navbar__menu-hamb--aberto:before {
    transform: rotate(90deg);
    top: 0;
}

.navbar__menu-hamb--aberto:after {
    transform: rotate(90deg);
    bottom: 0;
}

.navbar__menu-opcoes {
    pointer-events: none;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    text-decoration: none;
    list-style: none;
    font-size: 50px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    transition: opacity .5s ease-in-out;
}

.navbar__menu-opcoes--aberto {
    opacity: 1;
    transition-delay: 0;
    pointer-events: all;
}

.navbar__menu-opcoes li {
    z-index: 2;
    text-shadow: 2px 2px #747B8D;

}

.navbar__menu-opcoes a {
    color: #2B3441;
    display: block;
    margin-bottom: 40px;
    text-decoration: none;
    z-index: 1;
}

.navbar__menu-opcoes a:active {
    border-bottom: 4px solid #DC3E4A;
}

/* configurações do h1 de slogan */
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100%;

    padding-top: 50px;
}

.header__slogan {
    /* background-color: rgba(197, 185, 218, 0.3); */
    text-shadow: 2px 2px #05072F;
    text-align: center;
    color: #D0D1E7;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 800;
    width: 100vw;
}


@media (min-width: 768px) {
    .header__slogan {
        width: 70vw;
        font-size: 75px;
        bottom: 105px;

        min-height: 100%;
    }
}

.btn {
    text-decoration: none; 

    border-radius: 500px;
    padding: 10px;
    margin: 15px;
    min-width: 160px;
    width: 300px;
    line-height: 20px;

    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-family: inherit;
    font-weight: bolder;
    font-size: .7em;
    color: #E7E7F4;
    text-shadow: 0 2px #05072F;

    background: #DC3E4A;
    box-shadow: 0 5px 11px 0 rgba(50,50,50,.08);

    border: none;

    transition: background-color 0.5s ease-out;
}

.btn:hover,
.btn:active {
    background: rgb(245, 103, 115);
    color: rgb(251, 251, 255);
}

.btn__header {
    opacity: 0.9;
}

/* body etc */
body {
    height: 100vh;
    font-family: 'Raleway', sans-serif!important;
    font-size: 20px;
    color: #21181D;
}

.main__a {
    font-weight: 700;
    text-decoration: none;
    color: #DC3E4A;
    transition: 0.5s ease-out;
}

.main__a:hover,
.main__a:active {
    color: rgb(235, 110, 120);
}

.body__background {
    background: url(./componentes/clothingspill3.png);
    background-size: cover;
}

.coral {
    background: rgb(253, 158, 166);
}

@media only screen and (min-width: 768px) {
    h2 {
        font-size: 39px;
    }

    h3 {
        font-size: 34px;
    }
}

.roundimg {
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    margin: 25px;
}

@media only screen and (min-width: 768px) {
    .roundimg {
        width: 350px;
        height: 350px;
    }
}

.icons {
    margin: 20px;
    width: 120px;
    height: 100px;
}
/* configurações das seções */
.sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


/* configurações de cor das seções */
/* SEÇÃO MISSION */
.sec__mission {
    background: #F5F5FD;
}

@media only screen and (min-width: 768px) {
    .sec__missionrow {
        display: flex;
        align-items: center;
    }
}

.sec__mission-topic p {
  padding: 30px;

  max-width: 600px;
}

.sec__mission-topic h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px #D0D1E7;
  margin: 20px;
}

.sec__mission-topic h2::first-letter {
  border-bottom: 3px solid #DC3E4A;
}

/* SEÇÃO JUSTIFICATIVA */

.sec__justif {
  background: url("./componentes/95recycled.jpg");
  background-size: cover;
  color: #FEFAF1;
  padding-bottom: 50px;
}

@media only screen and (min-width: 768px) {
  .sec__justifrow {
    display: flex;
    flex-direction: row;

    align-items: center;
  }
}

.sec__justif h2 {
  font-weight: 700;
  text-shadow: 2px 2px #21181D;
  margin: 30px;
}

.sec__justif h2::first-letter {
  border-bottom: 3px solid #DC3E4A;
}

.sec__justif-topics p {
  margin: 15px;
  margin-bottom: 50px;
  text-shadow: 2px 2px #21181D;

  max-width: 400px;
}


/* SECTION HOW IT WORKS */


.sec__howitworks {
  background: #F5F5FD;
}

@media only screen and (min-width: 768px) {
    .sec__howitworksrow {
    display: flex;
    flex-direction: row;
    }
}

.sec__howitworks h2 {
  font-weight: 700;
  text-shadow: 2px 2px #D0D1E7;
  margin: 20px;
}

.sec__howitworks h2::first-letter {
  border-bottom: 3px solid #DC3E4A;
}

.sec__howitworks-topic p {
    margin: 15px;
    margin-bottom: 50px;

    max-width: 400px;
}

/* SECTION: CADASTRO */

.sec__register {
    background: url("./componentes/anotherclothingspill.png");
    background-size: cover;
    color: #FEFAF1;

    padding-bottom: 50px;
}

.sec__register h2 {
    font-weight: 700;
    text-shadow: 2px 2px #21181D;
    margin: 30px;
}

.sec__register h2::first-letter {
    border-bottom: 3px solid #DC3E4A;
}

.sec__register h3 {
    font-weight: 500;
    text-shadow: 2px 2px #21181D;
    margin: 30px;
}

.sec__register-topics p {
    margin: 15px;
    margin-bottom: 50px;
    text-shadow: 2px 2px #21181D;
}

.sec__registerrow {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 768px) {
    .sec__register {
        height: 80vh;
    }

    .sec__registerrow {
        flex-direction: row;
    }
}


/* SECTION: MARCAS */

.sec__brands {
    background: #F5F5FD;
}

.sec__brands h2 {
    font-weight: 700;
    text-shadow: 2px 2px #D0D1E7;
    margin: 20px;
}

.sec__brands p {
    margin: 30px;
}

.sec__brands h2::first-letter {
    border-bottom: 3px solid #DC3E4A;
}


.brands__logos {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 0.8;
    margin: 30px;
    height: 75px;
    max-width: 200px;

}

.brands__logos:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity: 1;

    transition: filter 0.5s, opacity 0.5s;
}



/* CONFIGURAÇÃO DE TAMANHO DAS SEÇÕES EM DESKTOP */

@media only screen and (min-width: 768px) {
    .sec {
        width: 100%;
        min-height: 500px;
        justify-content: center;

        padding: 30px;
    }
}

/* FOOTER */

footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;

    font-size: 15px;

    color: #F5F5FD;
    background: #05072F;
}

footer a {
    text-decoration: none;

    color: #DC3E4A;
    font-weight: 700;

    border-bottom: 2px solid;
}

/* FORMS */

input {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    line-height: 24px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: none;
}

input:focus {
    outline: none;
    border-color: #DC3E4A;
    box-shadow: 0 0 10px #DC3E4A;
}

.select__register {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    background: none;
    height: 30px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.form__pf label,
.form__pj label,
.form__login label {
    align-self: flex-start;
    font-weight: 500;

    font-size: 20px;
}

.form__login input {
    margin-bottom: 10px;
}

.form__container,
.form__container,
.form__container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 50px;
    padding-bottom: 50px;

    width: 100%;
    min-height: 100vh;
}

.form__container h2,
.form__container h2,
.form__container h2 {
    margin: 30px;
    text-shadow: 2px 2px #05072F;
    text-align: center;
    color: #D0D1E7;
}

.form__div {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;


    background: rgba(245, 245, 253, 0.9);
    padding: 25px;

    width: 95vw;
    min-height: 80vh;

    border-radius: 10px;
}

.form__pj--hidden {
    display: none;
}

.form__pf--hidden {
    display: none;
}

.form__login {
    min-height: 50vh;
}

@media only screen and (min-width: 768px) {
    .form__div {
        width: 50vw;
    }
}
